{% extends "base.html" %}

{%block title %}Barbearia{% endblock %}

{% block content %}

	<h2>Estoque</h2>
    <form id="estoqueForm" action="/estoque" method="post">
        <div class="mb-4">
            <input name="nome" type="text" class="form-control custom-input" id="produtoEstoque" placeholder="Produto" required>
        </div>
        <div class="mb-4">
            <input name="quantidade" type="number" class="form-control custom-input" id="quantidadeEstoque" placeholder="Quantidade" required>
        </div>
        <div class="mb-4">
            <input name="validade" type="date" id="validadeProduto" class="form-control custom-input" placeholder="Data" required>
        </div>
        <button type="submit" class="btn btn-secondary">Adicionar</button>
    </form>
    <table class="table mt-4">
        <thead>
            <tr>
                <th>Produto</th>
                <th>Quantidade</th>
                <th>Validade</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% if estoque %}
              {% for produto in estoque %}
                <tr>
                    <td>{{ produto.nome }}</td>
                    <td>{{ produto.quantidade }}</td>
                    <td>{{ produto.validade }}</td>
                    <td>
                        <a href="/alterar_estoque">
                          <button>Alterar</button>
                        </a>
                        <a href="#" onclick="excluirProduto('/excluir_produto/{{ loop.index0 }}');" data-bs-toggle="modal" data-bs-target="#confirmarExclusaoModal">
                          <button>Excluir</button>
                        </a>
                    </td>
                </tr>
              {% endfor %}
            {% else %}
                <tr>
                  <td colspan="4">Nenhum produto registrado.</td>
                </tr>
            {% endif %}
        </tbody>
    </table>



    <div class="modal fade" tabindex="-1" id="confirmarExclusaoModal">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Confirmar Exclusão</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <p>Tem certeza que deseja excluir este produto?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <a href="#" id="confirmarExclusaoBtn" class="btn btn-danger">Excluir</a>
            </div>
          </div>
        </div>
    </div>

    <div class="modal fade" tabindex="-1" id="errorModal">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="errorModalLabel">Estoque</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <p id="errorMessage"></p>
            </div>
          </div>
        </div>
      </div>

      <script>
        window.onload = function() {
          const error = "{{ error|default('') }}";
          if (error) {
            document.getElementById('errorMessage').innerText = error;
            const modal = new bootstrap.Modal(document.getElementById('errorModal'));
            modal.show();
          }
        }

        function excluirProduto(url) {
            document.getElementById('confirmarExclusaoBtn').setAttribute('href', url);
        }
      </script>

{% endblock %}